<body>
<h1>Display your Pirate here</h1>
<h2>Name: <%= @pirate.name %></h2>
<h3>Weight: <%= @pirate.weight %> pounds</h3>
<h3>Height: <%= @pirate.height %> inches</h3>

<h2>Display your first ship here</h2>
<p>Name: <%= @ships.first.name %></p> 
<p>Type: <%= @ships.first.type %></p>
<p>Booty: <%= @ships.first.booty %></p>

<h2>Display your second ship here</h2>
<%= @ships.last.name %>
<%= @ships.last.type %>
<%= @ships.last.booty %>
</body>